@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

* {
    font-family: 'Urbanist', sans-serif;
}

body {
    background: #f3f4f6;
    color: #1f2937;
    transition: background 0.3s, color 0.3s;
}


/* Dark Mode */
body.dark-mode {
    background: #2D2D30;
    color: #f9fafb;
}

/* Example for cards, tables, etc. */



/* Toggle Button Style */
.theme-toggle button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Sidebar Styles */
.sidebar {
    width: 16rem;
    /* Matches Tailwind 'w-64' */
    background: #FFFFFF;
    height: 100vh;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: width 0.3s;
    overflow-x: hidden;
    position: fixed;
    z-index: 10;
}

body.dark-mode .sidebar {
    background: #19191C;
}

.sidebar.collapsed {
    width: 0;
    padding: 1.25rem 0;
    /* Keep padding minimal when collapsed */
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.logo-container img {
    height: 100px;
    width: 110px;
}



.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-link {
    font-size: 1.125rem;
    font-weight: 600;
    color: #444050;
    padding: 0.5rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease;
}

body.dark-mode .nav-link {
    color: #f9fafb;
}

.nav-link:hover {
    background-color: #dbeafe;
}

.nav-link.active {
    background: linear-gradient(to right, #eb9f25, #f6d43b);
    color: #444050;
}

body.dark-mode .nav-link.active {
    background-color: #2563eb;
    color: #f9fafb;
}

.theme-toggle {
    display: flex;
    align-items: center;
}

.theme-toggle input {
    display: none;
    /* hide checkbox */
}

.toggle {
    width: 70px;
    height: 35px;
    background: #e5e7eb;
    border-radius: 35px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}


.toggle-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #1f2937;
}

.toggle::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 27px;
    height: 27px;
    background: #2564eb69;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.theme-toggle input:checked+.toggle {
    background: #2b3751;
}


.theme-toggle input:checked+.toggle::after {
    transform: translateX(35px);
}

.theme-toggle input:checked+.toggle .toggle-icons {
    color: #f9fafb;
}

.main-content {
    margin-left: 16rem;
    transition: margin-left 0.3s ease;
    width: calc(100% - 16rem);
}

.sidebar.collapsed~.main-content {
    margin-left: 0;
    width: 100%;
}

.openbtn {
    color: white;
    background-color: #16a34a;
    padding: 0.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 1rem;
    position: relative;
    top: 10px;
    left: 50px;
    z-index: 20;
}

.openbtn:hover {
    background-color: #E64A45;
}

h2 {
    padding: 20px;
    margin-left: 30px;
    font-size: 30px;
}